[submodule "GDSC-Core"]
	path = GDSC-Core
	url = https://github.com/aherbert/GDSC-Core
[submodule "GDSC"]
	path = GDSC
	url = https://github.com/aherbert/GDSC
[submodule "GDSC-SMLM"]
	path = GDSC-SMLM
	url = https://github.com/aherbert/GDSC-SMLM
[submodule "GDSC-Analytics"]
	path = GDSC-Analytics
	url = https://github.com/aherbert/GDSC-Analytics
[submodule "GDSC-Test"]
	path = GDSC-Test
	url = https://github.com/aherbert/GDSC-Test
