[submodule "gdsc"]
	path = gdsc
	url = https://github.com/aherbert/gdsc.git
[submodule "gdsc-core"]
	path = gdsc-core
	url = https://github.com/aherbert/gdsc-core.git
[submodule "gdsc-smlm"]
	path = gdsc-smlm
	url = https://github.com/aherbert/gdsc-smlm.git
[submodule "gdsc-analytics"]
	path = gdsc-analytics
	url = https://github.com/aherbert/gdsc-analytics.git
[submodule "gdsc-test"]
	path = gdsc-test
	url = https://github.com/aherbert/gdsc-test.git
[submodule "gdsc-examples"]
	path = gdsc-examples
	url = https://github.com/aherbert/gdsc-examples.git
[submodule "gdsc-ij-parent"]
	path = gdsc-ij-parent
	url = https://github.com/aherbert/gdsc-ij-parent
